$DESKTOP: 1280px;
$LAPTOP: 1024px;
$TABLET: 768px;
$LARGE_MOBILE: 480px;
$MOBILE: 350px;

@mixin desktop() {
	@media (max-width: $DESKTOP) {
		@content;
	}
}

@mixin laptop() {
	@media (max-width: $LAPTOP) {
		@content;
	}
}

@mixin tablet() {
	@media (max-width: $TABLET) {
		@content;
	}
}

@mixin largeMobile() {
	@media (max-width: $LARGE_MOBILE) {
		@content;
	}
}

@mixin mobile() {
	@media (max-width: $MOBILE) {
		@content;
	}
}
