.container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid #ccc;
	border-radius: 12px;
	padding: 15px;

	.cardDescription {
		display: flex;
		justify-content: space-between;
	}
}