.container {
	position: relative;
	cursor: pointer;

	.countProductsInCart {
		position: absolute;
		top: -6px;
		right: -8px;
		background-color: #f00;
		font-weight: 600;
		border-radius: 50%;
		font-size: 13px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 20px;
		height: 20px;
	}
}
